<ul class="list-group mt-2">
  <li class="list-group-item list-group-item-action d-flex">
    <div>
      <div class="color-gray-dark mr12 bg-white round-full py3 px3">
        <svg role="presentation" focusable="false" class="events-none icon inline-block align-t"
          style="width: 18px; height: 18px;">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-car"></use>
        </svg>
      </div>

      <div>
        <div class="txt-bold">2 minutes, 52 seconds</div>
        <div>0.4 km | 0.3 mi</div>
      </div>
    </div>
  </li>
</ul>
